#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#F3D7CA;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#F5EEE6 ;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    background-color: rgb(246, 231, 224);
    color: white;
    border: none;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color:#E6A4B4 ;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor:pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover{
    background-color: rgb(236, 205, 212);
}
.operator-btn{
    background-color:#eab9a2;
}
.operator-btn:hover{
    background-color:#f2d4c6;
}
.button:active {
    background-color: #E1AFD1;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}